In [2]:
import pandas as pd
import numpy as np

# GEORGIA

In [4]:
df = pd.read_csv('/Users/clarissaache/Downloads/arcos-ga-statewide-itemized.csv')
df['BUYER_COUNTY'] = df['BUYER_COUNTY'].replace(np.nan, 'Unknown')
#replaced with Unknown

/Users/clarissaache/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,5,15,22,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df['T_DATE'] = pd.to_datetime(df['TRANSACTION_DATE'], format='%m%d%Y', errors='coerce')
df['T_DATE']=pd.DatetimeIndex(df['T_DATE']).year
df_by_county = df.groupby(['BUYER_COUNTY', 'T_DATE']).sum().reset_index()
df_by_county['MME']=df_by_county['CALC_BASE_WT_IN_GM']*1000*df_by_county['MME_Conversion_Factor']
finalcolumns=['BUYER_COUNTY', 'T_DATE', 'MME']
df_final_GA=df_by_county[finalcolumns]
# Quick sense check: looks like the TRANSACTION DATE and new T DATE columns match!
df

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Reporter_family,dos_str,MME,T_DATE
0,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,626,HYDROCOD.BIT. & ACET.;2.5MG/600MG/TA,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Par Pharmaceutical,Bellco Drug Corp,2.5,151.35,2006
1,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,1430,HYDROCODONE.BIT & ACETA 10MG & 500M,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Par Pharmaceutical,Bellco Drug Corp,10.0,3027.00,2006
2,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,5743,ENDOCET TABS - 10MG OXYCODONE.HCL &,OXYCODONE HYDROCHLORIDE,TAB,1.5,Par Pharmaceutical,Bellco Drug Corp,10.0,2689.50,2006
3,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,5535,OXYCONTIN - 80MG OXYCODONE.HCL CONTR,OXYCODONE HYDROCHLORIDE,TAB,1.5,Purdue Pharma LP,Bellco Drug Corp,80.0,10758.00,2006
4,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,7109,OXYCODONE HCL 80MG TABS,OXYCODONE HYDROCHLORIDE,TAB,1.5,"Actavis Pharma, Inc.",Bellco Drug Corp,80.0,64548.00,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8076720,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,4886,OXYCODONE HYDROCHLORIDE 30MG TABLET,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,River City Pharma,30.0,24205.50,2009
8076721,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,138,OXYCODONE HYDROCHLORIDE 15MG TABLETS,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,River City Pharma,15.0,24205.50,2009
8076722,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,3984,HYDROCODONE BITARTRATE AND ACETA 7.5,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.",River City Pharma,7.5,908.10,2009
8076723,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,1734,HYDROCODONE BIT. 10MG/ACETAMINOPHEN,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.",River City Pharma,10.0,1210.80,2009
8076724,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,2153,HYDROCODO.BIT 10MG&AC USP TAB,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,River City Pharma,10.0,3027.00,2010

In [9]:
df_final_GA["State"]='Georgia'

/var/folders/wj/g21k_l5x5l95gccmpm_gvn0c0000gn/T/ipykernel_51232/1403142139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_GA["State"]='Georgia'

# North Carolina

In [10]:
df2 = pd.read_csv('/Users/clarissaache/Downloads/arcos-nc-statewide-itemized.csv')
df2['BUYER_COUNTY'] = df2['BUYER_COUNTY'].replace(np.nan, 'Unknown')
#replaced with Unknown
df2['T_DATE'] = pd.to_datetime(df2['TRANSACTION_DATE'], format='%m%d%Y', errors='coerce')
df2['T_DATE']=pd.DatetimeIndex(df2['T_DATE']).year
df_by_county = df2.groupby(['BUYER_COUNTY', 'T_DATE']).sum().reset_index()
df_by_county['MME']=df_by_county['CALC_BASE_WT_IN_GM']*1000*df_by_county['MME_Conversion_Factor']
finalcolumns=['BUYER_COUNTY', 'T_DATE', 'MME']
df_final_NC=df_by_county[finalcolumns]
# Quick sense check: looks like the TRANSACTION DATE and new T DATE columns match!
df2

/Users/clarissaache/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,5,15,22,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Reporter_family,dos_str,MME,T_DATE
0,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,10837,OXYCODONE HYDROCHLORIDE CR 20MG TABL,OXYCODONE HYDROCHLORIDE,TAB,1.5,"Actavis Pharma, Inc.",Bellco Drug Corp,20.0,8068.50,2007
1,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,9764,ENDOCET - 10MG OXYCODONE.HCL/325MG A,OXYCODONE HYDROCHLORIDE,TAB,1.5,Par Pharmaceutical,Bellco Drug Corp,10.0,10758.00,2007
2,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,8138,OXYCODONE HCL 40MG TABS,OXYCODONE HYDROCHLORIDE,TAB,1.5,"Actavis Pharma, Inc.",Bellco Drug Corp,40.0,10758.00,2007
3,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,6482,OXYCODONE HYDROCHLORIDE CR 20MG TABL,OXYCODONE HYDROCHLORIDE,TAB,1.5,"Actavis Pharma, Inc.",Bellco Drug Corp,20.0,8068.50,2007
4,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,986,HYDROCODONE BIT/ACETA 10MG/325MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,Bellco Drug Corp,10.0,3027.00,2006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8674561,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,3078,OXYCODONE HYDROCHLORIDE TABLETS 5MG,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,River City Pharma,5.0,1344.75,2009
8674562,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,5418,HYDROCODONE BIT/ACETA 10MG/325MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,River City Pharma,10.0,3027.00,2011
8674563,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,1083,OXYCODONE HYDROCHLORIDE 30MG TABLET,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,River City Pharma,30.0,40342.50,2009
8674564,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,2002,OXYCODONE HCL/ACETAMINOPHEN TABS. 10,OXYCODONE HYDROCHLORIDE,TAB,1.5,Amneal Pharmaceuticals LLC,River City Pharma,10.0,1344.75,2011
8674565,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,1110,HYDROCODONE BIT. 10MG/ACETAMINOPHEN,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.",River City Pharma,10.0,3027.00,2011

In [13]:
df_final_NC["State"]='North Carolina'
df_final_NC

/var/folders/wj/g21k_l5x5l95gccmpm_gvn0c0000gn/T/ipykernel_51232/2756693327.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_NC["State"]='North Carolina'

    BUYER_COUNTY  T_DATE           MME           State
0       ALAMANCE    2006  3.600799e+11  North Carolina
1       ALAMANCE    2007  5.292797e+11  North Carolina
2       ALAMANCE    2008  6.122623e+11  North Carolina
3       ALAMANCE    2009  6.542172e+11  North Carolina
4       ALAMANCE    2010  6.753952e+11  North Carolina
..           ...     ...           ...             ...
877       YANCEY    2010  1.539797e+10  North Carolina
878       YANCEY    2011  1.563721e+10  North Carolina
879       YANCEY    2012  1.553954e+10  North Carolina
880       YANCEY    2013  1.706678e+10  North Carolina
881       YANCEY    2014  1.440804e+10  North Carolina

[882 rows x 4 columns]

# Kentucky

In [14]:
df2 = pd.read_csv('/Users/clarissaache/Downloads/arcos-ky-statewide-itemized.csv')
df2['BUYER_COUNTY'] = df2['BUYER_COUNTY'].replace(np.nan, 'Unknown')
#replaced with Unknown
df2['T_DATE'] = pd.to_datetime(df2['TRANSACTION_DATE'], format='%m%d%Y', errors='coerce')
df2['T_DATE']=pd.DatetimeIndex(df2['T_DATE']).year
df_by_county = df2.groupby(['BUYER_COUNTY', 'T_DATE']).sum().reset_index()
df_by_county['MME']=df_by_county['CALC_BASE_WT_IN_GM']*1000*df_by_county['MME_Conversion_Factor']
finalcolumns=['BUYER_COUNTY', 'T_DATE', 'MME']
df_final_KY=df_by_county[finalcolumns]
# Quick sense check: looks like the TRANSACTION DATE and new T DATE columns match!
df2

/Users/clarissaache/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,5,22,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,TRANSACTION_ID,Product_Name,Ingredient_Name,Measure,MME_Conversion_Factor,Combined_Labeler_Name,Reporter_family,dos_str,MME,T_DATE
0,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,907,HYDROCODONE BIT/ACETA 7.5MG/325MG US,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,Bellco Drug Corp,7.5,908.100,2006
1,PB0034861,DISTRIBUTOR,BELLCO DRUG CORP,NaN,5500 NEW HORIZONS BLVD,NaN,NORTH AMITYVILLE,NY,11701,SUFFOLK,...,6423,HYDROCODONE BIT 5MG/ACETAMINOPHEN 50,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.",Bellco Drug Corp,5.0,6054.000,2007
2,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,1099,HYDROCODONE BITARTRATE & ACETA 7.5MG,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Sun Pharmaceutical Industries, Inc.",Bloodworth Wholesale Drugs,7.5,908.100,2012
3,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,2999,HYDROCODONE BITARTRATE & ACETA 7.5MG,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,Par Pharmaceutical,Bloodworth Wholesale Drugs,7.5,2270.250,2013
4,PB0167127,DISTRIBUTOR,BLOODWORTH WHOLESALE DRUGS,NaN,2128 YANK LAMB DRIVE,P.O. BOX 1849,TIFTON,GA,31793,TIFT,...,317,HYDROCODONE BIT/ACETA 10MG/500MG USP,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,SpecGx LLC,Bloodworth Wholesale Drugs,10.0,3027.000,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5219182,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,307,OXYCODONE HYDROCHLORIDE 15MG TABLETS,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,River City Pharma,15.0,48411.000,2009
5219183,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,1952,HYDROCODONE BITARTRATE 10MG/ACETAMIN,HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.",River City Pharma,10.0,12108.000,2010
5219184,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,148,"HYDROCODONE BIT./ACET.,7.5MG & 650MG",HYDROCODONE BITARTRATE HEMIPENTAHYDRATE,TAB,1.0,"Actavis Pharma, Inc.",River City Pharma,7.5,6810.750,2011
5219185,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,461,ENDOCET TABS - 10MG OXYCODONE.HCL &,OXYCODONE HYDROCHLORIDE,TAB,1.5,Par Pharmaceutical,River City Pharma,10.0,6723.750,2011
5219186,RD0277409,DISTRIBUTOR,"MASTERS PHARMACEUTICAL, INC",DBA: RIVER CITY PHARMA,11930 KEMPER SPRINGS,NaN,CINCINNATI,OH,45240,HAMILTON,...,4942,OXYCODONE HYDROCHLORIDE 15MG TABLETS,OXYCODONE HYDROCHLORIDE,TAB,1.5,SpecGx LLC,River City Pharma,15.0,10085.625,2011

In [15]:
df_final_KY["State"]='Kentucky'
df_final_KY

/var/folders/wj/g21k_l5x5l95gccmpm_gvn0c0000gn/T/ipykernel_51232/300296090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_KY["State"]='Kentucky'

     BUYER_COUNTY  T_DATE           MME     State
0           ADAIR    2006  6.048837e+09  Kentucky
1           ADAIR    2007  6.941289e+09  Kentucky
2           ADAIR    2008  1.041976e+10  Kentucky
3           ADAIR    2009  1.269493e+10  Kentucky
4           ADAIR    2010  1.791653e+10  Kentucky
...           ...     ...           ...       ...
1066     WOODFORD    2010  1.128719e+10  Kentucky
1067     WOODFORD    2011  1.402864e+10  Kentucky
1068     WOODFORD    2012  1.461070e+10  Kentucky
1069     WOODFORD    2013  1.364608e+10  Kentucky
1070     WOODFORD    2014  1.149198e+10  Kentucky

[1071 rows x 4 columns]

# Florida

In [17]:
df2 = pd.read_csv('/Users/clarissaache/Downloads/arcos-fl-statewide-itemized.csv')
df2['BUYER_COUNTY'] = df2['BUYER_COUNTY'].replace(np.nan, 'Unknown')
#replaced with Unknown
df2['T_DATE'] = pd.to_datetime(df2['TRANSACTION_DATE'], format='%m%d%Y', errors='coerce')
df2['T_DATE']=pd.DatetimeIndex(df2['T_DATE']).year
df_by_county = df2.groupby(['BUYER_COUNTY', 'T_DATE']).sum().reset_index()
df_by_county['MME']=df_by_county['CALC_BASE_WT_IN_GM']*1000*df_by_county['MME_Conversion_Factor']
finalcolumns=['BUYER_COUNTY', 'T_DATE', 'MME']
df_final_FL=df_by_county[finalcolumns]
df_final_FL["State"]='Florida'
df_final_FL

/Users/clarissaache/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,5,13,15,22,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/var/folders/wj/g21k_l5x5l95gccmpm_gvn0c0000gn/T/ipykernel_51232/3694184633.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final_FL["State"]='Florida'

    BUYER_COUNTY  T_DATE           MME    State
0        ALACHUA    2006  1.645948e+12  Florida
1        ALACHUA    2007  1.972812e+12  Florida
2        ALACHUA    2008  2.540522e+12  Florida
3        ALACHUA    2009  3.180395e+12  Florida
4        ALACHUA    2010  3.293852e+12  Florida
..           ...     ...           ...      ...
597   WASHINGTON    2010  4.164536e+10  Florida
598   WASHINGTON    2011  4.339960e+10  Florida
599   WASHINGTON    2012  5.077655e+10  Florida
600   WASHINGTON    2013  5.006792e+10  Florida
601   WASHINGTON    2014  4.021131e+10  Florida

[602 rows x 4 columns]

In [23]:
prescriptions = pd.concat((df_final_FL, df_final_GA, df_final_NC, df_final_KY), axis=0)

In [24]:
prescriptions

     BUYER_COUNTY  T_DATE           MME     State
0         ALACHUA    2006  1.645948e+12   Florida
1         ALACHUA    2007  1.972812e+12   Florida
2         ALACHUA    2008  2.540522e+12   Florida
3         ALACHUA    2009  3.180395e+12   Florida
4         ALACHUA    2010  3.293852e+12   Florida
...           ...     ...           ...       ...
1066     WOODFORD    2010  1.128719e+10  Kentucky
1067     WOODFORD    2011  1.402864e+10  Kentucky
1068     WOODFORD    2012  1.461070e+10  Kentucky
1069     WOODFORD    2013  1.364608e+10  Kentucky
1070     WOODFORD    2014  1.149198e+10  Kentucky

[3922 rows x 4 columns]

In [27]:
prescriptions.to_csv('/Users/clarissaache/IDS720/pds2021-opioids-team-three/20_intermediate/prescriptions')