In [154]:
import pandas as pd
import numpy as np
import os

## Comments

-filtered by county code
-filtered by:['Drug poisonings (overdose) Unintentional (X40-X44)','Drug poisonings (overdose) Suicide (X60-X64)','Drug poisonings (overdose) Undetermined (Y10-Y14)','All other drug-induced causes']
-Beware. Need to check if all counties were kept for each state.
-I plan to save each state as a csv file later on

## FLORIDA

In [186]:
userhome = os.path.expanduser('~')

column_names = [
    "Notes",
    "County",
    "County Code",
    "Year",
    "Year Code",
    "Drug/Alcohol Induced Cause",
    "Drug/Alcohol Induced Cause Code",
    "Deaths",
]
rows = []
drug_code=['D1', 'D9', 'D2', 'D4']
for i in range(3,10):
    csvfile = userhome + r'/Documents/IDS 720/Mid-Sem-Proj/00-source-data/US_VitalStatistics/Underlying Cause of Death, 200'+str(i)+'.txt'
    death_year = pd.read_table(csvfile)
    county_codes=np.unique([i for i in death_year['County Code']if (i>=12000) & (i<13000)])
    final=death_year[death_year['County Code'].isin(county_codes)&(death_year['Drug/Alcohol Induced Cause Code'].isin(drug_code))]
    for row in final.to_numpy():
        rows.append(row)
for i in range(10,16):
    csvfile = userhome + r'/Documents/IDS 720/Mid-Sem-Proj/00-source-data/US_VitalStatistics/Underlying Cause of Death, 20'+str(i)+'.txt'
    death_year = pd.read_table(csvfile)
    county_codes=np.unique([i for i in death_year['County Code']if (i>=12000) & (i<13000)])
    final=death_year[death_year['County Code'].isin(county_codes)&(death_year['Drug/Alcohol Induced Cause Code'].isin(drug_code))]
    for row in final.to_numpy():
        rows.append(row)
Florida_deaths=pd.DataFrame(rows,columns=['Notes', 'County', 'County Code', 'Year', 'Year Code',
       'Drug/Alcohol Induced Cause', 'Drug/Alcohol Induced Cause Code',
       'Deaths'])[['County', 'County Code', 'Year', 'Year Code',
       'Drug/Alcohol Induced Cause', 'Drug/Alcohol Induced Cause Code',
       'Deaths']]

In [187]:
Florida_deaths.head()

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,"Alachua County, FL",12001.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,11.0
1,"Bay County, FL",12005.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,21.0
2,"Brevard County, FL",12009.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,83.0
3,"Brevard County, FL",12009.0,2003.0,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,14.0
4,"Broward County, FL",12011.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,170.0

Florida_deaths is the final dataframe containing all deaths caused by Drugs/Alcohol in Florida from 2003-20015

## Washington

In [188]:
userhome = os.path.expanduser('~')

column_names = [
    "Notes",
    "County",
    "County Code",
    "Year",
    "Year Code",
    "Drug/Alcohol Induced Cause",
    "Drug/Alcohol Induced Cause Code",
    "Deaths",
]
rows = []
drug_code=['D1', 'D9', 'D2', 'D4']#['Drug poisonings (overdose) Unintentional (X40-X44)','Drug poisonings (overdose) Suicide (X60-X64)','Drug poisonings (overdose) Undetermined (Y10-Y14)','All other drug-induced causes']
for i in range(3,10):
    csvfile = userhome + r'/Documents/IDS 720/Mid-Sem-Proj/00-source-data/US_VitalStatistics/Underlying Cause of Death, 200'+str(i)+'.txt'
    death_year = pd.read_table(csvfile)
    county_codes=np.unique([i for i in death_year['County Code']if (i>=53000) & (i<54000)])
    final=death_year[death_year['County Code'].isin(county_codes)&(death_year['Drug/Alcohol Induced Cause Code'].isin(drug_code))]
    for row in final.to_numpy():
        rows.append(row)
for i in range(10,16):
    csvfile = userhome + r'/Documents/IDS 720/Mid-Sem-Proj/00-source-data/US_VitalStatistics/Underlying Cause of Death, 20'+str(i)+'.txt'
    death_year = pd.read_table(csvfile)
    county_codes=np.unique([i for i in death_year['County Code']if (i>=53000) & (i<54000)])  
    final=death_year[death_year['County Code'].isin(county_codes)&(death_year['Drug/Alcohol Induced Cause Code'].isin(drug_code))]
    for row in final.to_numpy():
        rows.append(row)
Washington_deaths=pd.DataFrame(rows,columns=['Notes', 'County', 'County Code', 'Year', 'Year Code',
       'Drug/Alcohol Induced Cause', 'Drug/Alcohol Induced Cause Code',
       'Deaths'])[['County', 'County Code', 'Year', 'Year Code',
       'Drug/Alcohol Induced Cause', 'Drug/Alcohol Induced Cause Code',
       'Deaths']]

In [189]:
Washington_deaths.head()

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,"Benton County, WA",53005.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,10.0
1,"Clark County, WA",53011.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,30.0
2,"Clark County, WA",53011.0,2003.0,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,10.0
3,"King County, WA",53033.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,132.0
4,"King County, WA",53033.0,2003.0,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,30.0

## TEXAS

In [190]:
userhome = os.path.expanduser('~')

column_names = [
    "Notes",
    "County",
    "County Code",
    "Year",
    "Year Code",
    "Drug/Alcohol Induced Cause",
    "Drug/Alcohol Induced Cause Code",
    "Deaths",
]
rows = []
drug_code=['D1', 'D9', 'D2', 'D4']#['Drug poisonings (overdose) Unintentional (X40-X44)','Drug poisonings (overdose) Suicide (X60-X64)','Drug poisonings (overdose) Undetermined (Y10-Y14)','All other drug-induced causes']
for i in range(3,10):
    csvfile = userhome + r'/Documents/IDS 720/Mid-Sem-Proj/00-source-data/US_VitalStatistics/Underlying Cause of Death, 200'+str(i)+'.txt'
    death_year = pd.read_table(csvfile)
    county_codes=np.unique([i for i in death_year['County Code']if (i>=48000) & (i<49000)])
    final=death_year[death_year['County Code'].isin(county_codes)&(death_year['Drug/Alcohol Induced Cause Code'].isin(drug_code))]
    for row in final.to_numpy():
        rows.append(row)
for i in range(10,16):
    csvfile = userhome + r'/Documents/IDS 720/Mid-Sem-Proj/00-source-data/US_VitalStatistics/Underlying Cause of Death, 20'+str(i)+'.txt'
    death_year = pd.read_table(csvfile)
    county_codes=np.unique([i for i in death_year['County Code']if (i>=48000) & (i<49000)])  
    final=death_year[death_year['County Code'].isin(county_codes)&(death_year['Drug/Alcohol Induced Cause Code'].isin(drug_code))]
    for row in final.to_numpy():
        rows.append(row)
Texas_deaths=pd.DataFrame(rows,columns=['Notes', 'County', 'County Code', 'Year', 'Year Code',
       'Drug/Alcohol Induced Cause', 'Drug/Alcohol Induced Cause Code',
       'Deaths'])[['County', 'County Code', 'Year', 'Year Code',
       'Drug/Alcohol Induced Cause', 'Drug/Alcohol Induced Cause Code',
       'Deaths']]

In [191]:
Texas_deaths.head()

,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,"Bexar County, TX",48029.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,84.0
1,"Bexar County, TX",48029.0,2003.0,2003.0,Drug poisonings (overdose) Suicide (X60-X64),D2,25.0
2,"Bexar County, TX",48029.0,2003.0,2003.0,All other drug-induced causes,D9,54.0
3,"Brazoria County, TX",48039.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,13.0
4,"Collin County, TX",48085.0,2003.0,2003.0,Drug poisonings (overdose) Unintentional (X40-...,D1,26.0