In [94]:
import numpy as np
import pandas as pd

In this file I will be merging US Population data taken from the US census website into one single data frame. This data fram will contain the populations in all states, by county for 2006-2012. We have to merge two separate data files, one with pre-2010 information and one with post-2010 information.

In [95]:
Census20102012 = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/censusdata/co-est2012-alldata.csv?token=AVVHZRTDDEETHC274H3LHL3BQ3B6O", encoding="ISO-8859-1")
Census20102012.sample(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDEATH2011,RDEATH2012,RNATURALINC2011,RNATURALINC2012,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RDOMESTICMIG2011,RDOMESTICMIG2012,RNETMIG2011,RNETMIG2012
1428,50,3,6,28,5,Mississippi,Amite County,13131,13128,13102,...,10.288850,11.035751,0.762137,0.383186,-0.076214,0.000000,0.838351,-14.561061,0.762137,-14.561061
710,50,2,3,17,203,Illinois,Woodford County,38664,38664,38639,...,9.461079,9.857148,2.423274,2.669644,0.747606,0.847099,3.248218,-2.772323,3.995824,-1.925224
2863,50,1,1,50,23,Vermont,Washington County,59534,59535,59600,...,8.757287,8.414511,1.711194,1.612361,0.822044,0.923749,-1.811853,-5.072220,-0.989808,-4.148472
1359,50,2,4,27,43,Minnesota,Faribault County,14553,14553,14496,...,12.472007,11.253126,-2.273902,-0.347319,0.068906,0.069464,3.720930,-17.991109,3.789836,-17.921645
1149,50,3,7,22,35,Louisiana,East Carroll Parish,7759,7759,7713,...,7.810974,9.752240,7.029877,3.953611,0.000000,0.000000,-14.971034,-20.558777,-14.971034,-20.558777

In [96]:
for col in Census20102012.columns:
        print(col)

SUMLEV
REGION
DIVISION
STATE
COUNTY
STNAME
CTYNAME
CENSUS2010POP
ESTIMATESBASE2010
POPESTIMATE2010
POPESTIMATE2011
POPESTIMATE2012
NPOPCHG_2010
NPOPCHG_2011
NPOPCHG_2012
BIRTHS2010
BIRTHS2011
BIRTHS2012
DEATHS2010
DEATHS2011
DEATHS2012
NATURALINC2010
NATURALINC2011
NATURALINC2012
INTERNATIONALMIG2010
INTERNATIONALMIG2011
INTERNATIONALMIG2012
DOMESTICMIG2010
DOMESTICMIG2011
DOMESTICMIG2012
NETMIG2010
NETMIG2011
NETMIG2012
RESIDUAL2010
RESIDUAL2011
RESIDUAL2012
GQESTIMATESBASE2010
GQESTIMATES2010
GQESTIMATES2011
GQESTIMATES2012
RBIRTH2011
RBIRTH2012
RDEATH2011
RDEATH2012
RNATURALINC2011
RNATURALINC2012
RINTERNATIONALMIG2011
RINTERNATIONALMIG2012
RDOMESTICMIG2011
RDOMESTICMIG2012
RNETMIG2011
RNETMIG2012

From this, we know that the relevant columns to keep are:
REGION
DIVISION
STNAME
CTYNAME
CENSUS2010POP
POPESTIMATE2011
POPESTIMATE2012

In [97]:
Census20102012sub = Census20102012[['STNAME', 'CTYNAME', 'CENSUS2010POP', 'POPESTIMATE2011', 'POPESTIMATE2012']]
Census20102012sub

,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012
0,Alabama,Alabama,4779736,4803689,4822023
1,Alabama,Autauga County,54571,55392,55514
2,Alabama,Baldwin County,182265,186830,190790
3,Alabama,Barbour County,27457,27313,27201
4,Alabama,Bibb County,22915,22738,22597
...,...,...,...,...,...
3189,Wyoming,Sweetwater County,43806,44078,45267
3190,Wyoming,Teton County,21294,21445,21675
3191,Wyoming,Uinta County,21118,20919,21025
3192,Wyoming,Washakie County,8533,8469,8464
3193,Wyoming,Weston County,7208,7109,7082

In [98]:
Census20102012sub.rename({'STNAME': 'STATE', 'CTYNAME': 'COUNTY', 'CENSUS2010POP': '2010', 'POPESTIMATE2011': '2011', 'POPESTIMATE2012': '2012'}, axis=1, inplace=True)

Census20102012sub

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        STATE             COUNTY     2010     2011     2012
0     Alabama            Alabama  4779736  4803689  4822023
1     Alabama     Autauga County    54571    55392    55514
2     Alabama     Baldwin County   182265   186830   190790
3     Alabama     Barbour County    27457    27313    27201
4     Alabama        Bibb County    22915    22738    22597
...       ...                ...      ...      ...      ...
3189  Wyoming  Sweetwater County    43806    44078    45267
3190  Wyoming       Teton County    21294    21445    21675
3191  Wyoming       Uinta County    21118    20919    21025
3192  Wyoming    Washakie County     8533     8469     8464
3193  Wyoming      Weston County     7208     7109     7082

[3194 rows x 5 columns]

In [99]:
Census20002009 = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/censusdata/co-est2009-alldata.csv?token=AVVHZRR2FXMPMLPCSA3DJT3BQ3BV2", encoding="ISO-8859-1")
Census20002009.sample(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2000POP,ESTIMATESBASE2000,POPESTIMATE2000,...,RDOMESTICMIG2009,RNETMIG2001,RNETMIG2002,RNETMIG2003,RNETMIG2004,RNETMIG2005,RNETMIG2006,RNETMIG2007,RNETMIG2008,RNETMIG2009
2433,50,2,4,46,61,South Dakota,Hanson County,3139,3139,3154,...,-22.978843,25.453981,9.963768,10.382676,52.406722,-1.377221,-32.472939,-0.839866,-10.602679,-22.698613
2286,50,1,2,42,7,Pennsylvania,Beaver County,181412,181412,181113,...,-2.476247,-5.672131,-2.423166,-0.886400,-2.824413,-5.740258,-6.034927,-2.772790,-1.858655,-2.144919
3067,50,3,5,54,51,West Virginia,Marshall County,35519,35519,35395,...,-7.339450,-5.555792,-8.172713,-3.629294,-5.047355,-10.290237,-7.893292,-7.161478,-10.685313,-7.217125
939,50,2,4,20,69,Kansas,Gray County,5904,5904,5904,...,7.404914,-6.088795,7.563661,-4.177458,-10.702341,-16.001347,-12.570070,-21.828807,8.758372,14.809828
2074,50,2,4,38,99,North Dakota,Walsh County,12389,12389,12356,...,-8.664792,-20.367265,-20.357726,-9.133979,-12.103921,-3.500788,-15.249579,-16.400090,-10.316808,-8.480435

Same format as previous file so we can use same format except we are using Pop. estimates from 2006-2009

In [100]:
Census20002009sub = Census20002009[['STNAME', 'CTYNAME', 'POPESTIMATE2006', 'POPESTIMATE2007','POPESTIMATE2008', 'POPESTIMATE2009']]
Census20002009sub

,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009
0,Alabama,Alabama,4597688,4637904,4677464,4708708
1,Alabama,Autauga County,49105,49834,50354,50756
2,Alabama,Baldwin County,168516,172815,176212,179878
3,Alabama,Barbour County,29556,29736,29836,29737
4,Alabama,Bibb County,21285,21485,21589,21587
...,...,...,...,...,...,...
3189,Wyoming,Sweetwater County,37948,39320,39942,41226
3190,Wyoming,Teton County,19666,20073,20541,20710
3191,Wyoming,Uinta County,19631,20071,20537,20927
3192,Wyoming,Washakie County,7671,7805,7807,7911
3193,Wyoming,Weston County,6568,6845,6928,7009

In [101]:
Census20002009sub.rename({'STNAME': 'STATE', 'CTYNAME': 'COUNTY', 'POPESTIMATE2006': '2006', 'POPESTIMATE2007': '2007', 'POPESTIMATE2008': '2008','POPESTIMATE2009': '2009'}, axis=1, inplace=True)

Census20002009sub

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        STATE             COUNTY     2006     2007     2008     2009
0     Alabama            Alabama  4597688  4637904  4677464  4708708
1     Alabama     Autauga County    49105    49834    50354    50756
2     Alabama     Baldwin County   168516   172815   176212   179878
3     Alabama     Barbour County    29556    29736    29836    29737
4     Alabama        Bibb County    21285    21485    21589    21587
...       ...                ...      ...      ...      ...      ...
3189  Wyoming  Sweetwater County    37948    39320    39942    41226
3190  Wyoming       Teton County    19666    20073    20541    20710
3191  Wyoming       Uinta County    19631    20071    20537    20927
3192  Wyoming    Washakie County     7671     7805     7807     7911
3193  Wyoming      Weston County     6568     6845     6928     7009

[3194 rows x 6 columns]

In [102]:
Check = (Census20002009sub['STATE'] == Census20002009sub['COUNTY'])
Check.value_counts()

False    3142
True       52
dtype: int64

Noticed that the total state populations are ALSO included so I will want to drop those from final clean data

There are different spellings of LaSalle Parish in LA in the two data sets I am working with so I need to change the name in my 2000-2009 data set to match with my second dataset.

In [103]:
Census20002009sub.loc[Census20002009sub.COUNTY == "La Salle Parish", "COUNTY"] = 'LaSalle Parish'

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [104]:
Population = pd.merge(Census20002009sub, Census20102012sub, on = ['STATE', 'COUNTY'], how = 'outer', indicator = True)

Population.sample(20)

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012,_merge
1611,Missouri,Shannon County,8250,8341,8350,8361,8441,8415,8318,both
1313,Michigan,Monroe County,153310,153360,152870,152721,152021,151609,151048,both
3040,Washington,Whatcom County,188837,192843,196960,200434,201140,203570,205262,both
1069,Kentucky,Jessamine County,44590,45559,46868,47589,48586,49020,49635,both
1817,New Jersey,Mercer County,362813,363402,364571,366222,366513,367306,368303,both
31,Alabama,Geneva County,25769,25717,25971,25961,26790,26803,26931,both
412,Georgia,Brantley County,15363,15434,15496,15643,18411,18597,18587,both
1041,Kentucky,Cumberland County,6933,6814,6762,6706,6856,6843,6819,both
1078,Kentucky,Leslie County,11723,11703,11577,11503,11310,11301,11170,both
551,Georgia,Webster County,2232,2266,2200,2192,2799,2810,2793,both
3186,Wyoming,Niobrara County,2234,2337,2364,2366,2484,2489,2456,both
1793,Nevada,White Pine County,9068,9110,9136,9188,10030,10128,10042,both
2472,Tennessee,Tennessee,6089453,6172862,6240456,6296254,6346105,6399787,6456243,both
455,Georgia,Fayette County,104842,105933,106398,106788,106567,107353,107524,both
78,Alaska,Hoonah-Angoon Census Area,2228,2203,2182,2127,2150,2120,2129,both
2350,Pennsylvania,Wyoming County,27874,27939,27891,27808,28276,28157,28125,both
140,Arkansas,Garland County,95492,96499,97700,98479,96024,96637,96903,both
292,Colorado,Montezuma County,24907,25108,25150,25368,25535,25432,25431,both
2161,Ohio,Van Wert County,29070,28893,28735,28496,28744,28702,28744,both
2560,Tennessee,Van Buren County,5350,5428,5488,5480,5548,5510,5628,both

In [105]:
Population[Population._merge != "both"]

Empty DataFrame
Columns: [STATE, COUNTY, 2006, 2007, 2008, 2009, 2010, 2011, 2012, _merge]
Index: []

Data was merged so that it was the same on both sides (thanks to the changing of La Salle Parish to LaSalle Parish). Now to drop the state total populations.

In [106]:
CountyPopulations = Population[Population['COUNTY'] != Population["STATE"]]
CountyPopulations.sample(20)

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012,_merge
934,Kansas,Finney County,40713,40782,40925,42074,36776,37117,37200,both
3045,West Virginia,Berkeley County,96819,99768,102336,103854,104169,105784,107098,both
1473,Mississippi,Marion County,25463,25650,25719,25732,27088,26744,26442,both
2755,Texas,Polk County,46089,46463,46604,46530,45413,45659,45656,both
1632,Montana,Carter County,1242,1234,1194,1202,1160,1142,1177,both
1021,Kentucky,Bourbon County,19566,19612,19732,19729,19985,19996,19978,both
627,Illinois,Crawford County,19619,19502,19415,19433,19817,19787,19600,both
2069,North Dakota,Sioux County,4157,4140,4134,4203,4153,4261,4347,both
1903,New York,Queens County,2264661,2277779,2288574,2306712,2230722,2256438,2272771,both
1071,Kentucky,Kenton County,155178,156855,157813,158729,159720,160540,161711,both
215,California,Modoc County,9252,9100,9089,9107,9686,9495,9327,both
2332,Pennsylvania,Northampton County,290971,294817,296965,298990,297735,298521,299267,both
2014,North Carolina,Tyrrell County,4121,4159,4104,4078,4407,4371,4338,both
2780,Texas,Smith County,194404,198018,201160,204665,209714,212855,214821,both
1338,Michigan,Wexford County,31630,31702,31674,31553,32735,32675,32608,both
1670,Montana,Rosebud County,9079,9126,9150,9258,9233,9376,9396,both
2313,Pennsylvania,Fulton County,14742,14936,14938,14852,14845,14780,14772,both
2967,Virginia,Buena Vista city,6345,6247,6259,6222,6650,6710,6707,both
95,Alaska,Wrangell City and Borough,2168,2168,2185,2147,2369,2383,2403,both
2562,Tennessee,Washington County,114895,116717,118874,120598,122979,124007,125094,both

Checking that the state population was actually dropped:

In [107]:
Check2 = (CountyPopulations['STATE'] == CountyPopulations['COUNTY'])
Check2.value_counts()

False    3142
dtype: int64

In [108]:
CountyPopulations = CountyPopulations.drop('_merge', axis=1)
CountyPopulations

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012
1,Alabama,Autauga County,49105,49834,50354,50756,54571,55392,55514
2,Alabama,Baldwin County,168516,172815,176212,179878,182265,186830,190790
3,Alabama,Barbour County,29556,29736,29836,29737,27457,27313,27201
4,Alabama,Bibb County,21285,21485,21589,21587,22915,22738,22597
5,Alabama,Blount County,55978,56866,57794,58345,57322,57748,57826
...,...,...,...,...,...,...,...,...,...
3191,Wyoming,Sweetwater County,37948,39320,39942,41226,43806,44078,45267
3192,Wyoming,Teton County,19666,20073,20541,20710,21294,21445,21675
3193,Wyoming,Uinta County,19631,20071,20537,20927,21118,20919,21025
3194,Wyoming,Washakie County,7671,7805,7807,7911,8533,8469,8464
3195,Wyoming,Weston County,6568,6845,6928,7009,7208,7109,7082

In [109]:
CountyPopulations = CountyPopulations.melt(id_vars=['STATE', 'COUNTY'])
CountyPopulations

         STATE             COUNTY variable   value
0      Alabama     Autauga County     2006   49105
1      Alabama     Baldwin County     2006  168516
2      Alabama     Barbour County     2006   29556
3      Alabama        Bibb County     2006   21285
4      Alabama      Blount County     2006   55978
...        ...                ...      ...     ...
21989  Wyoming  Sweetwater County     2012   45267
21990  Wyoming       Teton County     2012   21675
21991  Wyoming       Uinta County     2012   21025
21992  Wyoming    Washakie County     2012    8464
21993  Wyoming      Weston County     2012    7082

[21994 rows x 4 columns]

In [110]:
CountyPopulations.rename({'STATE': 'State', 'COUNTY': 'County', 'variable': 'Year', 'value': 'Population'}, axis=1, inplace=True)
CountyPopulations

         State             County  Year  Population
0      Alabama     Autauga County  2006       49105
1      Alabama     Baldwin County  2006      168516
2      Alabama     Barbour County  2006       29556
3      Alabama        Bibb County  2006       21285
4      Alabama      Blount County  2006       55978
...        ...                ...   ...         ...
21989  Wyoming  Sweetwater County  2012       45267
21990  Wyoming       Teton County  2012       21675
21991  Wyoming       Uinta County  2012       21025
21992  Wyoming    Washakie County  2012        8464
21993  Wyoming      Weston County  2012        7082

[21994 rows x 4 columns]