### Merging data **by Larissa**
Here we will merge the following cleaned datasets:
- prescription from Florida, Kentucky, North Carolina, Georgia
- death data from all states
- census data from all states

---

importing a csv with states and state abbreviations to change the states to abbrevations in all datasets

In [689]:
import pandas as pd
df_states = pd.read_csv('USA_States.csv', encoding = "utf-8")

Import first dataset containing prescription data

In [690]:
import pandas as pd
df_prescriptions = pd.read_csv('https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/main/20_intermediate/prescriptions?token=AI3GZDZGWG25Z2T5V2RXQGDBRO3WS', index_col=0, encoding='utf-8')
df_prescriptions.head()

  BUYER_COUNTY  T_DATE           MME    State
0      ALACHUA    2006  1.645948e+12  Florida
1      ALACHUA    2007  1.972812e+12  Florida
2      ALACHUA    2008  2.540522e+12  Florida
3      ALACHUA    2009  3.180395e+12  Florida
4      ALACHUA    2010  3.293852e+12  Florida

Renaming the column T_DATE to have it homogenous in all data sets

In [691]:
df_prescriptions = df_prescriptions.rename({'T_DATE': 'Year', 'BUYER_COUNTY': 'County'}, axis = 1)

Changing the values in County to be capitalized and lowercase to be the same as in the other dataframes:

In [692]:
df_prescriptions['County'] = df_prescriptions['County'].str.lower()
df_prescriptions['County'] = df_prescriptions['County'].str.capitalize()
df_prescriptions.head()

    County  Year           MME    State
0  Alachua  2006  1.645948e+12  Florida
1  Alachua  2007  1.972812e+12  Florida
2  Alachua  2008  2.540522e+12  Florida
3  Alachua  2009  3.180395e+12  Florida
4  Alachua  2010  3.293852e+12  Florida

Checking missing data

In [693]:
df_prescriptions.isna().sum()

County    0
Year      0
MME       0
State     0
dtype: int64

Checking how many states this data frame has

In [694]:
df_prescriptions['State'].unique()

array(['Florida', 'Georgia', 'North Carolina', 'Kentucky'], dtype=object)

Adding a state abbreviation column by merging

In [695]:
df_prescriptions_state = pd.merge(df_prescriptions, df_states, on = 'State', how = 'left' , indicator = True)
df_prescriptions_state.sample(20)

        County  Year           MME           State State Abbr _merge
393     Nassau  2006  1.970304e+11         Florida         FL   both
2010      Ashe  2011  3.475653e+10  North Carolina         NC   both
741      Burke  2009  5.240969e+09         Georgia         GA   both
1581    Pierce  2009  9.016222e+09         Georgia         GA   both
880       Cobb  2013  1.243140e+13         Georgia         GA   both
1563     Peach  2009  9.395891e+09         Georgia         GA   both
1276    Jasper  2010  4.704177e+09         Georgia         GA   both
2716     Surry  2006  4.561057e+11  North Carolina         NC   both
1171  Gwinnett  2013  1.003030e+13         Georgia         GA   both
2709    Stokes  2008  6.340196e+10  North Carolina         NC   both
881       Cobb  2014  1.038558e+13         Georgia         GA   both
2978   Bullitt  2007  8.895842e+10        Kentucky         KY   both
294       Lake  2006  1.623708e+12         Florida         FL   both
2843    Yancey  2007  2.393789e+10  North Carolina         NC   both
1785    Toombs  2013  6.738791e+10         Georgia         GA   both
3395      Knox  2010  7.881142e+10        Kentucky         KY   both
2819    Wilkes  2010  4.973910e+11  North Carolina         NC   both
3841   Trimble  2006  1.748955e+08        Kentucky         KY   both
3454     Lewis  2006  6.760192e+09        Kentucky         KY   both
3034   Carroll  2009  1.441817e+10        Kentucky         KY   both

Checking merge

In [696]:
df_prescriptions_state[df_prescriptions_state._merge != "both"]

Empty DataFrame
Columns: [County, Year, MME, State, State Abbr, _merge]
Index: []

In [697]:
df_prescriptions_state = df_prescriptions_state.drop('_merge', axis = 1)

In [698]:
df_prescriptions_state.head()

    County  Year           MME    State State Abbr
0  Alachua  2006  1.645948e+12  Florida         FL
1  Alachua  2007  1.972812e+12  Florida         FL
2  Alachua  2008  2.540522e+12  Florida         FL
3  Alachua  2009  3.180395e+12  Florida         FL
4  Alachua  2010  3.293852e+12  Florida         FL

Importing thr second dataset containing the death data

In [699]:
df_deaths = pd.read_csv('https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/main/20_intermediate_files/deaths.csv?token=AI3GZD6NJFVWRHJMICW5FSTBRO4Z2')
df_deaths['State'] = df_deaths['State'].str.replace(' ','')
df_deaths.head()

          County  County Code    Year Deaths State
0  Acadia Parish      22001.0  2003.0   11.0    LA
1  Acadia Parish      22001.0  2005.0   23.0    LA
2  Acadia Parish      22001.0  2006.0   19.0    LA
3  Acadia Parish      22001.0  2007.0   19.0    LA
4  Acadia Parish      22001.0  2009.0   11.0    LA

Displaying all states in the data

In [700]:
df_deaths['State'].unique()

array(['LA', 'ID', 'CO', 'IL', 'OH', 'PA', 'SC', 'FL', 'NC', 'CA', 'NY',
       'VA', 'MI', 'MD', 'IN', 'AK', 'TN', 'TX', 'ME', 'MN', 'NJ', 'AL',
       'MA', 'GA', 'KY', 'NH', 'AR', 'WA', 'WV', 'NM', 'MO', 'RI', 'WI',
       'OK', 'KS', 'UT', 'NV', 'MT', 'ND', 'VT', 'OR', 'AZ', 'MS', 'DC',
       'NE', 'CT', 'WY', 'HI', 'IA', 'DE', 'SD'], dtype=object)

Changing the datatype of Year from float to int to have the same data format for Year in all dataframes

In [701]:
df_deaths["Year"]= df_deaths["Year"].astype('int64')
df_deaths.head()

          County  County Code  Year Deaths State
0  Acadia Parish      22001.0  2003   11.0    LA
1  Acadia Parish      22001.0  2005   23.0    LA
2  Acadia Parish      22001.0  2006   19.0    LA
3  Acadia Parish      22001.0  2007   19.0    LA
4  Acadia Parish      22001.0  2009   11.0    LA

In [702]:
df_deaths_state = pd.merge(df_deaths, df_states, left_on = 'State', right_on = 'State Abbr', how = 'left', indicator= True)
df_deaths_state.sample(20)

,County,County Code,Year,Deaths,State_x,State_y,State Abbr,_merge
6047,Rockingham County,33015.0,2011,35.0,NH,New Hampshire,NH,both
6185,San Bernardino County,6071.0,2009,227.0,CA,California,CA,both
5683,Pottawatomie County,40125.0,2008,11.0,OK,Oklahoma,OK,both
5608,Plymouth County,25023.0,2003,48.0,MA,Massachusetts,MA,both
7113,Trumbull County,39155.0,2010,45.0,OH,Ohio,OH,both
4606,Middlesex County,25017.0,2015,2992428,MA,Massachusetts,MA,both
4309,Marin County,6041.0,2010,28.0,CA,California,CA,both
7025,Tazewell County,51185.0,2003,14.0,VA,Virginia,VA,both
5023,New Haven County,9009.0,2003,80.0,CT,Connecticut,CT,both
98,Allegan County,26005.0,2007,17.0,MI,Michigan,MI,both
2645,Greene County,29077.0,2012,40.0,MO,Missouri,MO,both
1586,Columbus County,37047.0,2005,11.0,NC,North Carolina,NC,both
5077,Newton County,13217.0,2015,12,GA,Georgia,GA,both
3789,Lake County,17097.0,2014,65.0,IL,Illinois,IL,both
6436,Sedgwick County,20173.0,2007,51.0,KS,Kansas,KS,both
4492,Mendocino County,6045.0,2009,12.0,CA,California,CA,both
1531,Coconino County,4005.0,2003,11.0,AZ,Arizona,AZ,both
2561,Genesee County,26049.0,2014,96.0,MI,Michigan,MI,both
1317,Citrus County,12017.0,2008,25.0,FL,Florida,FL,both
1647,Cowlitz County,53015.0,2011,27.0,WA,Washington,WA,both

Checking merge

In [703]:
df_deaths_state[df_deaths_state._merge != "both"]

,County,County Code,Year,Deaths,State_x,State_y,State Abbr,_merge
1964,District of Columbia,11001.0,2003,106.0,DC,NaN,NaN,left_only
1965,District of Columbia,11001.0,2004,102.0,DC,NaN,NaN,left_only
1966,District of Columbia,11001.0,2005,87.0,DC,NaN,NaN,left_only
1967,District of Columbia,11001.0,2006,113.0,DC,NaN,NaN,left_only
1968,District of Columbia,11001.0,2007,90.0,DC,NaN,NaN,left_only
1969,District of Columbia,11001.0,2008,69.0,DC,NaN,NaN,left_only
1970,District of Columbia,11001.0,2009,56.0,DC,NaN,NaN,left_only
1971,District of Columbia,11001.0,2010,83.0,DC,NaN,NaN,left_only
1972,District of Columbia,11001.0,2011,79.0,DC,NaN,NaN,left_only
1973,District of Columbia,11001.0,2012,71.0,DC,NaN,NaN,left_only
1974,District of Columbia,11001.0,2013,112.0,DC,NaN,NaN,left_only
1975,District of Columbia,11001.0,2014,90.0,DC,NaN,NaN,left_only
1976,District of Columbia,11001.0,2015,114,DC,NaN,NaN,left_only

In [704]:
df_deaths_state =df_deaths_state.drop('State_x', axis = 1)
df_deaths_state =df_deaths_state.drop('_merge', axis = 1)
df_deaths_state = df_deaths_state.rename(columns={'State_y': 'State'})

In [705]:
df_deaths_state.head()

          County  County Code  Year Deaths      State State Abbr
0  Acadia Parish      22001.0  2003   11.0  Louisiana         LA
1  Acadia Parish      22001.0  2005   23.0  Louisiana         LA
2  Acadia Parish      22001.0  2006   19.0  Louisiana         LA
3  Acadia Parish      22001.0  2007   19.0  Louisiana         LA
4  Acadia Parish      22001.0  2009   11.0  Louisiana         LA

Checking missing data

In [706]:
df_deaths_state.isna().sum()

County          0
County Code     0
Year            0
Deaths          0
State          13
State Abbr     13
dtype: int64

Importing the third datasset containing census data

In [707]:
df_census = pd.read_csv('https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/main/MidSemester/20_intermediates/CountyPopulations.csv?token=AI3GZD36R6FVBM277DEVPB3BRRDSC', index_col= 0)
df_census.head()

     State          County  Year  Population
0  Alabama  Autauga County  2006     49105.0
1  Alabama  Baldwin County  2006    168516.0
2  Alabama  Barbour County  2006     29556.0
3  Alabama     Bibb County  2006     21285.0
4  Alabama   Blount County  2006     55978.0

We are dropping Bedfort City county because it changed from being an independant city to being a town within a county in 2011.

In [739]:
df_cenus = df_census.drop(df_census[df_census.County == 'Beldford city'].index)

In [708]:
df_census['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [709]:
df_census_state = pd.merge(df_census, df_states, on = 'State', how = 'left' , indicator = True)
df_census_state.head()

     State          County  Year  Population State Abbr _merge
0  Alabama  Autauga County  2006     49105.0         AL   both
1  Alabama  Baldwin County  2006    168516.0         AL   both
2  Alabama  Barbour County  2006     29556.0         AL   both
3  Alabama     Bibb County  2006     21285.0         AL   both
4  Alabama   Blount County  2006     55978.0         AL   both

Checking missing data

In [710]:
df_census_state.isna().sum()

State         0
County        0
Year          0
Population    6
State Abbr    0
_merge        0
dtype: int64

In [734]:
df_census[df_census.isnull().any(axis = 1)]

          State        County  Year  Population
15483  Virginia  Bedford city  2010         NaN
18625  Virginia  Bedford city  2011         NaN
21767  Virginia  Bedford city  2012         NaN
24909  Virginia  Bedford city  2013         NaN
28051  Virginia  Bedford city  2014         NaN
31193  Virginia  Bedford city  2015         NaN

Checking merge

In [711]:
df_census_state[df_census_state._merge != 'both']

Empty DataFrame
Columns: [State, County, Year, Population, State Abbr, _merge]
Index: []

In [712]:
df_census_state =df_census_state.drop('_merge', axis = 1)

Print original dataframe row numbers

In [713]:
print(df_prescriptions.shape[0],  'Number of rows for Prescription data')
print(df_deaths.shape[0], 'Number of rows for death data')
print(df_census.shape[0], 'Number of rows for census data')

3922 Number of rows for Prescription data
7925 Number of rows for death data
31420 Number of rows for census data

Print merged dataframe sums

In [714]:
print(df_prescriptions_state.shape[0],  'Number of rows for Prescription data')
print(df_deaths_state.shape[0], 'Number of rows for death data')
print(df_census_state.shape[0], 'Number of rows for census data')

3922 Number of rows for Prescription data
7925 Number of rows for death data
31420 Number of rows for census data

### Next step merging
We want to merged dataframes in the end, hence we merge:
- prescriptiption data with census
- death data with census

---

First merge of prescription and census

In [715]:
df_presc_cens = pd.merge(df_prescriptions, df_census, on=['County', 'Year', 'State'],
                                  how='left', validate = 'one_to_one', indicator= 'Merge_value')

Looking at the merged data, and the missing data.

In [716]:
df_presc_cens.head()

    County  Year           MME    State  Population Merge_value
0  Alachua  2006  1.645948e+12  Florida         NaN   left_only
1  Alachua  2007  1.972812e+12  Florida         NaN   left_only
2  Alachua  2008  2.540522e+12  Florida         NaN   left_only
3  Alachua  2009  3.180395e+12  Florida         NaN   left_only
4  Alachua  2010  3.293852e+12  Florida         NaN   left_only

In [717]:
df_presc_cens.isna().sum()

County            0
Year              0
MME               0
State             0
Population     3922
Merge_value       0
dtype: int64

In [718]:
df_presc_cens.describe()

              Year           MME  Population
count  3922.000000  3.922000e+03         0.0
mean   2009.996430  2.347498e+12         NaN
std       2.584455  1.662164e+13         NaN
min    2006.000000  3.027000e+02         NaN
25%    2008.000000  7.003393e+09         NaN
50%    2010.000000  4.510575e+10         NaN
75%    2012.000000  3.389654e+11         NaN
max    2014.000000  4.258041e+14         NaN

In [719]:
df_presc_cens[df_presc_cens.Merge_value != 'left_only']

Empty DataFrame
Columns: [County, Year, MME, State, Population, Merge_value]
Index: []

In [720]:
df_presc_cens = df_presc_cens.drop('Merge_value', axis = 1)

In [721]:
df_presc_cens.head()

    County  Year           MME    State  Population
0  Alachua  2006  1.645948e+12  Florida         NaN
1  Alachua  2007  1.972812e+12  Florida         NaN
2  Alachua  2008  2.540522e+12  Florida         NaN
3  Alachua  2009  3.180395e+12  Florida         NaN
4  Alachua  2010  3.293852e+12  Florida         NaN

### Merging the death data with census data

In [722]:
df_death_cens = pd.merge(df_deaths_state, df_census_state, on=['County', 'Year', 'State'],
                                  how='inner', validate = 'one_to_one', indicator= 'Merge_Check')

In [723]:
df_death_cens.head()

,County,County Code,Year,Deaths,State,State Abbr_x,Population,State Abbr_y,Merge_Check
0,Acadia Parish,22001.0,2006,19.0,Louisiana,LA,59585.0,LA,both
1,Acadia Parish,22001.0,2007,19.0,Louisiana,LA,59715.0,LA,both
2,Acadia Parish,22001.0,2009,11.0,Louisiana,LA,60095.0,LA,both
3,Acadia Parish,22001.0,2010,13.0,Louisiana,LA,61773.0,LA,both
4,Acadia Parish,22001.0,2011,10.0,Louisiana,LA,61763.0,LA,both

In [724]:
df_death_cens.isna().sum()

County          0
County Code     0
Year            0
Deaths          0
State           0
State Abbr_x    0
Population      1
State Abbr_y    0
Merge_Check     0
dtype: int64

In [725]:
df_death_cens[df_death_cens.Merge_Check != 'both']

Empty DataFrame
Columns: [County, County Code, Year, Deaths, State, State Abbr_x, Population, State Abbr_y, Merge_Check]
Index: []

In [726]:
df_death_cens = df_death_cens.drop('Merge_Check', axis = 1)

In [727]:
print(df_presc_cens.shape[0], 'Number of rows for prescription merged with census data')
print(df_death_cens.shape[0], 'Number of rows for death merged with census data')

3922 Number of rows for prescription merged with census data
6538 Number of rows for death merged with census data

In [728]:
df_death_cens.head()

,County,County Code,Year,Deaths,State,State Abbr_x,Population,State Abbr_y
0,Acadia Parish,22001.0,2006,19.0,Louisiana,LA,59585.0,LA
1,Acadia Parish,22001.0,2007,19.0,Louisiana,LA,59715.0,LA
2,Acadia Parish,22001.0,2009,11.0,Louisiana,LA,60095.0,LA
3,Acadia Parish,22001.0,2010,13.0,Louisiana,LA,61773.0,LA
4,Acadia Parish,22001.0,2011,10.0,Louisiana,LA,61763.0,LA

Creating a csv file in case we need that

In [729]:
pd.DataFrame.to_csv(df_presc_cens, 'merged_presc_cens_data.csv', sep=',', na_rep='.', index=False)

In [730]:
pd.DataFrame.to_csv(df_death_cens, 'merged_death_cens_data.csv', sep=',', na_rep='.', index=False)