In [44]:
import numpy as np
import pandas as pd

In this file I will be merging US Population data taken from the US census website into one single data frame. This data fram will contain the populations in all states, by county for 2006-2012. We have to merge two separate data files, one with pre-2010 information and one with post-2010 information.

In [45]:
Census20102012 = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/censusdata/MidSemester/00_data/co-est2015-alldata-1.csv?token=AVVHZRVBT2T5NJYQ73KTJJLBRLTFG", encoding="ISO-8859-1")
Census20102012.sample(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
2113,50,2,3,39,69,Ohio,Henry County,28215,28215,28115,...,-2.449501,-7.567145,-3.739916,-8.326633,-5.062564,-2.414001,-7.496092,-3.633061,-8.219423,-4.918945
1386,50,2,4,27,97,Minnesota,Morrison County,33198,33198,33229,...,-2.617762,-6.693905,-7.642037,-3.804828,-3.748914,-2.256691,-6.090850,-7.035526,-3.104739,-3.078377
2094,50,2,3,39,31,Ohio,Coshocton County,36901,36901,36928,...,-0.785408,-3.932737,-3.969225,-4.828612,-1.367297,-0.649993,-3.770003,-3.778920,-4.610369,-1.148529
833,50,2,4,19,57,Iowa,Des Moines County,40325,40325,40255,...,-4.281216,3.509427,3.148279,-5.184110,-5.506690,-3.907854,3.882770,3.544913,-4.712828,-5.033264
2220,50,3,7,40,105,Oklahoma,Nowata County,10536,10536,10513,...,11.735201,-1.509007,-1.515439,-1.712003,5.038741,11.829840,-1.414694,-1.420724,-1.616892,5.133812

In [46]:
for col in Census20102012.columns:
        print(col)

SUMLEV
REGION
DIVISION
STATE
COUNTY
STNAME
CTYNAME
CENSUS2010POP
ESTIMATESBASE2010
POPESTIMATE2010
POPESTIMATE2011
POPESTIMATE2012
POPESTIMATE2013
POPESTIMATE2014
POPESTIMATE2015
NPOPCHG_2010
NPOPCHG_2011
NPOPCHG_2012
NPOPCHG_2013
NPOPCHG_2014
NPOPCHG_2015
BIRTHS2010
BIRTHS2011
BIRTHS2012
BIRTHS2013
BIRTHS2014
BIRTHS2015
DEATHS2010
DEATHS2011
DEATHS2012
DEATHS2013
DEATHS2014
DEATHS2015
NATURALINC2010
NATURALINC2011
NATURALINC2012
NATURALINC2013
NATURALINC2014
NATURALINC2015
INTERNATIONALMIG2010
INTERNATIONALMIG2011
INTERNATIONALMIG2012
INTERNATIONALMIG2013
INTERNATIONALMIG2014
INTERNATIONALMIG2015
DOMESTICMIG2010
DOMESTICMIG2011
DOMESTICMIG2012
DOMESTICMIG2013
DOMESTICMIG2014
DOMESTICMIG2015
NETMIG2010
NETMIG2011
NETMIG2012
NETMIG2013
NETMIG2014
NETMIG2015
RESIDUAL2010
RESIDUAL2011
RESIDUAL2012
RESIDUAL2013
RESIDUAL2014
RESIDUAL2015
GQESTIMATESBASE2010
GQESTIMATES2010
GQESTIMATES2011
GQESTIMATES2012
GQESTIMATES2013
GQESTIMATES2014
GQESTIMATES2015
RBIRTH2011
RBIRTH2012
RBIRTH2013
RBIRTH2014
RBIRTH2015
RDEATH2011
RDEATH2012
RDEATH2013
RDEATH2014
RDEATH2015
RNATURALINC2011
RNATURALINC2012
RNATURALINC2013
RNATURALINC2014
RNATURALINC2015
RINTERNATIONALMIG2011
RINTERNATIONALMIG2012
RINTERNATIONALMIG2013
RINTERNATIONALMIG2014
RINTERNATIONALMIG2015
RDOMESTICMIG2011
RDOMESTICMIG2012
RDOMESTICMIG2013
RDOMESTICMIG2014
RDOMESTICMIG2015
RNETMIG2011
RNETMIG2012
RNETMIG2013
RNETMIG2014
RNETMIG2015

From this, we know that the relevant columns to keep are:
REGION
DIVISION
STNAME
CTYNAME
CENSUS2010POP
POPESTIMATE2011
POPESTIMATE2012

In [47]:
Census20102012sub = Census20102012[['STNAME', 'CTYNAME', 'CENSUS2010POP', 'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']]
Census20102012sub

,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
0,Alabama,Alabama,4779736,4801108,4816089,4830533,4846411,4858979
1,Alabama,Autauga County,54571,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,182265,186659,190396,195126,199713,203709
3,Alabama,Barbour County,27457,27226,27159,26973,26815,26489
4,Alabama,Bibb County,22915,22733,22642,22512,22549,22583
...,...,...,...,...,...,...,...,...
3188,Wyoming,Sweetwater County,43806,44041,45104,45162,44925,44626
3189,Wyoming,Teton County,21294,21482,21697,22347,22905,23125
3190,Wyoming,Uinta County,21118,20912,20989,21022,20903,20822
3191,Wyoming,Washakie County,8533,8469,8443,8443,8316,8328
3192,Wyoming,Weston County,7208,7114,7065,7160,7185,7234

In [48]:
Census20102012sub.rename({'STNAME': 'STATE', 'CTYNAME': 'COUNTY', 'CENSUS2010POP': '2010', 'POPESTIMATE2011': '2011', 'POPESTIMATE2012': '2012', 'POPESTIMATE2013': '2013', 'POPESTIMATE2014': '2014', 'POPESTIMATE2015': '2015'}, axis=1, inplace=True)

Census20102012sub

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,STATE,COUNTY,2010,2011,2012,2013,2014,2015
0,Alabama,Alabama,4779736,4801108,4816089,4830533,4846411,4858979
1,Alabama,Autauga County,54571,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,182265,186659,190396,195126,199713,203709
3,Alabama,Barbour County,27457,27226,27159,26973,26815,26489
4,Alabama,Bibb County,22915,22733,22642,22512,22549,22583
...,...,...,...,...,...,...,...,...
3188,Wyoming,Sweetwater County,43806,44041,45104,45162,44925,44626
3189,Wyoming,Teton County,21294,21482,21697,22347,22905,23125
3190,Wyoming,Uinta County,21118,20912,20989,21022,20903,20822
3191,Wyoming,Washakie County,8533,8469,8443,8443,8316,8328
3192,Wyoming,Weston County,7208,7114,7065,7160,7185,7234

In [49]:
Census20002009 = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/censusdata/MidSemester/00_data/co-est2009-alldata.csv?token=AVVHZRXAAUHE3DNX32FWTELBRLTMG", encoding="ISO-8859-1")
Census20002009.sample(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2000POP,ESTIMATESBASE2000,POPESTIMATE2000,...,RDOMESTICMIG2009,RNETMIG2001,RNETMIG2002,RNETMIG2003,RNETMIG2004,RNETMIG2005,RNETMIG2006,RNETMIG2007,RNETMIG2008,RNETMIG2009
2596,50,3,7,48,59,Texas,Callahan County,12905,12905,12917,...,4.258816,-13.967461,8.309164,9.498968,18.621114,9.044959,-0.227075,7.238727,3.376984,4.482965
453,50,3,5,13,113,Georgia,Fayette County,91263,91263,92082,...,-0.966292,19.839182,15.898719,18.307391,17.658082,22.744893,19.951976,7.192504,0.762960,0.562889
1237,50,3,5,24,510,Maryland,Baltimore city,651154,651154,648654,...,-7.656551,-17.087781,-14.921953,-12.497567,-16.226561,-9.862084,-7.117738,-7.023591,-8.203461,-5.892550
2071,50,2,4,38,93,North Dakota,Stutsman County,21908,21904,21841,...,5.440776,-10.138015,-7.221562,-9.745763,-8.860096,-3.938615,-1.060292,-13.015711,-5.344578,5.734872
2037,50,2,4,38,25,North Dakota,Dunn County,3600,3600,3595,...,10.179641,-8.673755,-13.615090,-8.341723,-26.725404,-9.298140,-1.813237,-5.458681,6.056018,10.479042

Same format as previous file so we can use same format except we are using Pop. estimates from 2006-2009

In [50]:
Census20002009sub = Census20002009[['STNAME', 'CTYNAME', 'POPESTIMATE2006', 'POPESTIMATE2007','POPESTIMATE2008', 'POPESTIMATE2009']]
Census20002009sub

,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009
0,Alabama,Alabama,4597688,4637904,4677464,4708708
1,Alabama,Autauga County,49105,49834,50354,50756
2,Alabama,Baldwin County,168516,172815,176212,179878
3,Alabama,Barbour County,29556,29736,29836,29737
4,Alabama,Bibb County,21285,21485,21589,21587
...,...,...,...,...,...,...
3189,Wyoming,Sweetwater County,37948,39320,39942,41226
3190,Wyoming,Teton County,19666,20073,20541,20710
3191,Wyoming,Uinta County,19631,20071,20537,20927
3192,Wyoming,Washakie County,7671,7805,7807,7911
3193,Wyoming,Weston County,6568,6845,6928,7009

In [51]:
Census20002009sub.rename({'STNAME': 'STATE', 'CTYNAME': 'COUNTY', 'POPESTIMATE2006': '2006', 'POPESTIMATE2007': '2007', 'POPESTIMATE2008': '2008','POPESTIMATE2009': '2009'}, axis=1, inplace=True)

Census20002009sub

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        STATE             COUNTY     2006     2007     2008     2009
0     Alabama            Alabama  4597688  4637904  4677464  4708708
1     Alabama     Autauga County    49105    49834    50354    50756
2     Alabama     Baldwin County   168516   172815   176212   179878
3     Alabama     Barbour County    29556    29736    29836    29737
4     Alabama        Bibb County    21285    21485    21589    21587
...       ...                ...      ...      ...      ...      ...
3189  Wyoming  Sweetwater County    37948    39320    39942    41226
3190  Wyoming       Teton County    19666    20073    20541    20710
3191  Wyoming       Uinta County    19631    20071    20537    20927
3192  Wyoming    Washakie County     7671     7805     7807     7911
3193  Wyoming      Weston County     6568     6845     6928     7009

[3194 rows x 6 columns]

In [52]:
Check = (Census20002009sub['STATE'] == Census20002009sub['COUNTY'])
Check.value_counts()

False    3142
True       52
dtype: int64

Noticed that the total state populations are ALSO included so I will want to drop those from final clean data

There are different spellings of LaSalle Parish in LA in the two data sets I am working with so I need to change the name in my 2000-2009 data set to match with my second dataset.

In [53]:
Census20002009sub.loc[Census20002009sub.COUNTY == "La Salle Parish", "COUNTY"] = 'LaSalle Parish'

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [54]:
Population = pd.merge(Census20002009sub, Census20102012sub, on = ['STATE', 'COUNTY'], how = 'outer', indicator = True)

Population.sample(20)

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,_merge
1187,Louisiana,Tensas Parish,5978.0,5778.0,5671.0,5609.0,5252.0,5086.0,4961.0,4878.0,4802.0,4740.0,both
1829,New Mexico,Bernalillo County,619490.0,628825.0,635444.0,642527.0,662564.0,669492.0,672948.0,674942.0,675647.0,676685.0,both
553,Georgia,White County,24451.0,24873.0,25122.0,25294.0,27144.0,27383.0,27559.0,27754.0,27942.0,28319.0,both
2437,South Dakota,Hughes County,16798.0,16940.0,16793.0,16969.0,17022.0,17281.0,17435.0,17443.0,17617.0,17555.0,both
2761,Texas,Real County,3016.0,3018.0,2927.0,2925.0,3309.0,3424.0,3368.0,3321.0,3359.0,3307.0,both
1946,North Carolina,Chowan County,14584.0,14738.0,14688.0,14784.0,14793.0,14811.0,14727.0,14734.0,14616.0,14394.0,both
3053,West Virginia,Fayette County,46233.0,46303.0,46284.0,46123.0,46039.0,45960.0,45904.0,45596.0,45211.0,44997.0,both
1301,Michigan,Lenawee County,101249.0,101184.0,100720.0,99837.0,99892.0,99332.0,99018.0,98806.0,98780.0,98573.0,both
2986,Virginia,Martinsville city,14709.0,14538.0,14641.0,14635.0,13821.0,13710.0,13630.0,13583.0,13552.0,13645.0,both
306,Colorado,San Juan County,574.0,574.0,571.0,555.0,699.0,697.0,695.0,699.0,719.0,701.0,both
701,Illinois,Union County,18118.0,18123.0,18042.0,18005.0,17808.0,17690.0,17627.0,17559.0,17471.0,17408.0,both
985,Kansas,Republic County,4974.0,4914.0,4832.0,4808.0,4980.0,4899.0,4845.0,4790.0,4773.0,4725.0,both
2029,North Dakota,Benson County,6893.0,6878.0,6864.0,6910.0,6660.0,6696.0,6768.0,6900.0,6854.0,6753.0,both
2389,South Carolina,Lee County,20240.0,20119.0,20005.0,19722.0,19220.0,18924.0,18680.0,18424.0,18379.0,17896.0,both
564,Hawaii,Maui County,140407.0,141930.0,144378.0,145157.0,154834.0,156801.0,158510.0,160947.0,163398.0,164637.0,both
1297,Michigan,Keweenaw County,2180.0,2226.0,2273.0,2305.0,2156.0,2230.0,2206.0,2176.0,2210.0,2168.0,both
2710,Texas,La Salle County,5905.0,5925.0,5818.0,5810.0,6886.0,6995.0,7133.0,7421.0,7473.0,7631.0,both
322,Connecticut,Windham County,116232.0,116660.0,117311.0,117518.0,118428.0,118418.0,117942.0,117586.0,116830.0,116573.0,both
571,Idaho,Bingham County,43080.0,43459.0,44057.0,44668.0,45607.0,45912.0,45523.0,45404.0,45204.0,44990.0,both
918,Kansas,Cheyenne County,2820.0,2757.0,2728.0,2700.0,2726.0,2702.0,2672.0,2672.0,2687.0,2679.0,both

In [55]:
Population[Population._merge != "both"]

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,_merge
88,Alaska,Petersburg Census Area,3876.0,3888.0,3816.0,3773.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
94,Alaska,Wade Hampton Census Area,7464.0,7583.0,7654.0,7731.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2461,South Dakota,Shannon County,13637.0,13606.0,13641.0,13727.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2965,Virginia,Bedford city,6243.0,6292.0,6315.0,6350.0,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3196,Alaska,Kusilvak Census Area,NaN,NaN,NaN,NaN,7459.0,7654.0,7790.0,7952.0,8053.0,8119.0,right_only
3197,Alaska,Petersburg Borough,NaN,NaN,NaN,NaN,3815.0,3244.0,3258.0,3241.0,3184.0,3177.0,right_only
3198,South Dakota,Oglala Lakota County,NaN,NaN,NaN,NaN,13586.0,13911.0,14069.0,14176.0,14234.0,14373.0,right_only

Data was merged so that it was the same on both sides (thanks to the changing of La Salle Parish to LaSalle Parish). Now to drop the state total populations.

In [56]:
CountyPopulations = Population[Population['COUNTY'] != Population["STATE"]]
CountyPopulations.sample(20)

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,_merge
1600,Missouri,Reynolds County,6435.0,6403.0,6315.0,6202.0,6696.0,6681.0,6660.0,6579.0,6540.0,6432.0,both
1919,New York,Warren County,65641.0,65804.0,65926.0,66021.0,65707.0,65693.0,65421.0,65146.0,64954.0,64688.0,both
2356,Rhode Island,Providence County,630186.0,628280.0,627437.0,627690.0,626667.0,627784.0,629199.0,629816.0,632025.0,633473.0,both
652,Illinois,Jersey County,22354.0,22379.0,22597.0,22549.0,22985.0,22862.0,22724.0,22614.0,22552.0,22372.0,both
1404,Minnesota,Renville County,16297.0,16140.0,15848.0,15718.0,15730.0,15465.0,15355.0,15140.0,15003.0,14892.0,both
2551,Tennessee,Shelby County,919179.0,919964.0,919137.0,920232.0,927644.0,933529.0,939672.0,939074.0,938405.0,938069.0,both
2515,Tennessee,Humphreys County,18098.0,18258.0,18221.0,18274.0,18538.0,18400.0,18299.0,18240.0,18128.0,18135.0,both
2836,Utah,Kane County,6430.0,6494.0,6541.0,6601.0,7125.0,7223.0,7203.0,7218.0,7235.0,7131.0,both
752,Indiana,Jefferson County,32554.0,32430.0,32926.0,33010.0,32428.0,32302.0,32518.0,32501.0,32529.0,32416.0,both
1154,Louisiana,Franklin Parish,20059.0,20028.0,19949.0,19807.0,20767.0,20772.0,20599.0,20522.0,20449.0,20410.0,both
686,Illinois,Pope County,4110.0,4108.0,4041.0,3991.0,4470.0,4490.0,4330.0,4338.0,4269.0,4226.0,both
1776,Nebraska,York County,14243.0,14222.0,14013.0,13837.0,13665.0,13753.0,13819.0,13836.0,13909.0,13806.0,both
1906,New York,Rockland County,295927.0,297005.0,298747.0,300173.0,311687.0,315807.0,317775.0,320498.0,323323.0,326037.0,both
1311,Michigan,Midland County,82802.0,82596.0,82567.0,82548.0,83629.0,83761.0,83660.0,83588.0,83479.0,83632.0,both
1282,Michigan,Gogebic County,16249.0,16152.0,16072.0,15936.0,16427.0,16121.0,16035.0,15856.0,15678.0,15431.0,both
2757,Texas,Presidio County,7508.0,7569.0,7527.0,7470.0,7818.0,7752.0,7564.0,7286.0,7040.0,6876.0,both
2151,Ohio,Ross County,75316.0,75927.0,76129.0,75972.0,78064.0,77605.0,77453.0,77325.0,77115.0,77170.0,both
1693,Nebraska,Buffalo County,44490.0,44887.0,45186.0,45814.0,46102.0,46835.0,47655.0,48090.0,48348.0,48863.0,both
555,Georgia,Wilcox County,8652.0,8668.0,8791.0,8895.0,9255.0,9169.0,9029.0,8966.0,8838.0,8857.0,both
1676,Montana,Teton County,6123.0,6161.0,6171.0,6088.0,6073.0,6085.0,6070.0,6063.0,6046.0,6104.0,both

Checking that the state population was actually dropped:

In [57]:
Check2 = (CountyPopulations['STATE'] == CountyPopulations['COUNTY'])
Check2.value_counts()

False    3145
dtype: int64

In [58]:
CountyPopulations = CountyPopulations.drop('_merge', axis=1)
CountyPopulations

,STATE,COUNTY,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,Alabama,Autauga County,49105.0,49834.0,50354.0,50756.0,54571.0,55253.0,55175.0,55038.0,55290.0,55347.0
2,Alabama,Baldwin County,168516.0,172815.0,176212.0,179878.0,182265.0,186659.0,190396.0,195126.0,199713.0,203709.0
3,Alabama,Barbour County,29556.0,29736.0,29836.0,29737.0,27457.0,27226.0,27159.0,26973.0,26815.0,26489.0
4,Alabama,Bibb County,21285.0,21485.0,21589.0,21587.0,22915.0,22733.0,22642.0,22512.0,22549.0,22583.0
5,Alabama,Blount County,55978.0,56866.0,57794.0,58345.0,57322.0,57711.0,57776.0,57734.0,57658.0,57673.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3194,Wyoming,Washakie County,7671.0,7805.0,7807.0,7911.0,8533.0,8469.0,8443.0,8443.0,8316.0,8328.0
3195,Wyoming,Weston County,6568.0,6845.0,6928.0,7009.0,7208.0,7114.0,7065.0,7160.0,7185.0,7234.0
3196,Alaska,Kusilvak Census Area,NaN,NaN,NaN,NaN,7459.0,7654.0,7790.0,7952.0,8053.0,8119.0
3197,Alaska,Petersburg Borough,NaN,NaN,NaN,NaN,3815.0,3244.0,3258.0,3241.0,3184.0,3177.0
3198,South Dakota,Oglala Lakota County,NaN,NaN,NaN,NaN,13586.0,13911.0,14069.0,14176.0,14234.0,14373.0

In [59]:
CountyPopulations = CountyPopulations.melt(id_vars=['STATE', 'COUNTY'])
CountyPopulations

              STATE                COUNTY variable     value
0           Alabama        Autauga County     2006   49105.0
1           Alabama        Baldwin County     2006  168516.0
2           Alabama        Barbour County     2006   29556.0
3           Alabama           Bibb County     2006   21285.0
4           Alabama         Blount County     2006   55978.0
...             ...                   ...      ...       ...
31445       Wyoming       Washakie County     2015    8328.0
31446       Wyoming         Weston County     2015    7234.0
31447        Alaska  Kusilvak Census Area     2015    8119.0
31448        Alaska    Petersburg Borough     2015    3177.0
31449  South Dakota  Oglala Lakota County     2015   14373.0

[31450 rows x 4 columns]

In [60]:
CountyPopulations.rename({'STATE': 'State', 'COUNTY': 'County', 'variable': 'Year', 'value': 'Population'}, axis=1, inplace=True)
CountyPopulations

              State                County  Year  Population
0           Alabama        Autauga County  2006     49105.0
1           Alabama        Baldwin County  2006    168516.0
2           Alabama        Barbour County  2006     29556.0
3           Alabama           Bibb County  2006     21285.0
4           Alabama         Blount County  2006     55978.0
...             ...                   ...   ...         ...
31445       Wyoming       Washakie County  2015      8328.0
31446       Wyoming         Weston County  2015      7234.0
31447        Alaska  Kusilvak Census Area  2015      8119.0
31448        Alaska    Petersburg Borough  2015      3177.0
31449  South Dakota  Oglala Lakota County  2015     14373.0

[31450 rows x 4 columns]