In [1]:
import numpy as np
import pandas as pd

In this file I will be merging US Population data taken from the US census website into one single data frame. This data fram will contain the populations in all states, by county for 2006-2012. We have to merge two separate data files, one with pre-2010 information and one with post-2010 information.

In [2]:
Census20102012 = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/main/co-est2012-alldata.csv?token=AVVHZRQNPGUZPWFHVVV3I3DBQVO52", encoding="ISO-8859-1")
Census20102012.sample(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDEATH2011,RDEATH2012,RNATURALINC2011,RNATURALINC2012,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RDOMESTICMIG2011,RDOMESTICMIG2012,RNETMIG2011,RNETMIG2012
1806,50,1,2,34,3,New Jersey,Bergen County,905116,905116,906597,...,7.390470,7.378003,2.074344,2.249325,5.842682,5.984732,-1.097083,-1.400914,4.745599,4.583818
1731,50,2,4,31,99,Nebraska,Kearney County,6489,6489,6491,...,9.652953,11.190312,0.153221,-1.992795,1.685436,1.686211,8.580403,-11.650188,10.265839,-9.963976
625,50,2,3,17,33,Illinois,Crawford County,19817,19817,19821,...,12.421733,12.694544,-1.817815,-2.742021,0.302969,0.304669,0.403959,-7.058166,0.706928,-6.753497
170,50,3,7,5,111,Arkansas,Poinsett County,24583,24583,24542,...,13.553233,13.618557,-0.898106,-0.246119,0.285761,0.328158,-2.939255,-6.029903,-2.653494,-5.701745
913,50,2,4,20,17,Kansas,Chase County,2790,2790,2791,...,8.941345,4.677942,-2.145923,3.238575,0.000000,0.000000,5.364807,-18.351925,5.364807,-18.351925

In [3]:
for col in Census20102012.columns:
        print(col)

SUMLEV
REGION
DIVISION
STATE
COUNTY
STNAME
CTYNAME
CENSUS2010POP
ESTIMATESBASE2010
POPESTIMATE2010
POPESTIMATE2011
POPESTIMATE2012
NPOPCHG_2010
NPOPCHG_2011
NPOPCHG_2012
BIRTHS2010
BIRTHS2011
BIRTHS2012
DEATHS2010
DEATHS2011
DEATHS2012
NATURALINC2010
NATURALINC2011
NATURALINC2012
INTERNATIONALMIG2010
INTERNATIONALMIG2011
INTERNATIONALMIG2012
DOMESTICMIG2010
DOMESTICMIG2011
DOMESTICMIG2012
NETMIG2010
NETMIG2011
NETMIG2012
RESIDUAL2010
RESIDUAL2011
RESIDUAL2012
GQESTIMATESBASE2010
GQESTIMATES2010
GQESTIMATES2011
GQESTIMATES2012
RBIRTH2011
RBIRTH2012
RDEATH2011
RDEATH2012
RNATURALINC2011
RNATURALINC2012
RINTERNATIONALMIG2011
RINTERNATIONALMIG2012
RDOMESTICMIG2011
RDOMESTICMIG2012
RNETMIG2011
RNETMIG2012

From this, we know that the relevant columns to keep are:
REGION
DIVISION
STNAME
CTYNAME
CENSUS2010POP
POPESTIMATE2011
POPESTIMATE2012

In [4]:
Census20102012sub = Census20102012[['STNAME', 'CTYNAME', 'CENSUS2010POP', 'POPESTIMATE2011', 'POPESTIMATE2012']]
Census20102012sub

,STNAME,CTYNAME,CENSUS2010POP,POPESTIMATE2011,POPESTIMATE2012
0,Alabama,Alabama,4779736,4803689,4822023
1,Alabama,Autauga County,54571,55392,55514
2,Alabama,Baldwin County,182265,186830,190790
3,Alabama,Barbour County,27457,27313,27201
4,Alabama,Bibb County,22915,22738,22597
...,...,...,...,...,...
3189,Wyoming,Sweetwater County,43806,44078,45267
3190,Wyoming,Teton County,21294,21445,21675
3191,Wyoming,Uinta County,21118,20919,21025
3192,Wyoming,Washakie County,8533,8469,8464
3193,Wyoming,Weston County,7208,7109,7082

In [5]:
Census20102012sub.rename({'STNAME': 'STATE', 'CTYNAME': 'COUNTY', 'CENSUS2010POP': 'POP2010', 'POPESTIMATE2011': 'POP2011', 'POPESTIMATE2012': 'POP2012'}, axis=1, inplace=True)

Census20102012sub

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        STATE             COUNTY  POP2010  POP2011  POP2012
0     Alabama            Alabama  4779736  4803689  4822023
1     Alabama     Autauga County    54571    55392    55514
2     Alabama     Baldwin County   182265   186830   190790
3     Alabama     Barbour County    27457    27313    27201
4     Alabama        Bibb County    22915    22738    22597
...       ...                ...      ...      ...      ...
3189  Wyoming  Sweetwater County    43806    44078    45267
3190  Wyoming       Teton County    21294    21445    21675
3191  Wyoming       Uinta County    21118    20919    21025
3192  Wyoming    Washakie County     8533     8469     8464
3193  Wyoming      Weston County     7208     7109     7082

[3194 rows x 5 columns]

In [6]:
Census20002009 = pd.read_csv("https://raw.githubusercontent.com/MIDS-at-Duke/pds2021-opioids-team-three/main/co-est2009-alldata.csv?token=AVVHZRV3YP5VZVR373JMAHLBQWD7U", encoding="ISO-8859-1")
Census20002009.sample(5)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2000POP,ESTIMATESBASE2000,POPESTIMATE2000,...,RDOMESTICMIG2009,RNETMIG2001,RNETMIG2002,RNETMIG2003,RNETMIG2004,RNETMIG2005,RNETMIG2006,RNETMIG2007,RNETMIG2008,RNETMIG2009
2141,50,2,3,39,125,Ohio,Paulding County,20293,20292,20233,...,-9.300370,-9.919651,-15.690010,-9.431570,-10.636394,-7.304527,-10.548905,-7.851906,-10.768989,-9.247826
518,50,3,5,13,245,Georgia,Richmond County,199775,199778,199663,...,-5.011539,-6.347028,-8.182185,-7.971075,-7.172421,-11.162456,-4.380788,-6.798582,2.702750,-4.350016
446,50,3,5,13,99,Georgia,Early County,12354,12354,12339,...,-15.645147,-6.656925,-13.070828,-1.971172,-14.051329,-2.994261,-4.168577,-17.324755,-14.124654,-14.785524
2667,50,3,7,48,201,Texas,Harris County,3400578,3400590,3413678,...,4.720061,3.992575,6.028118,0.362745,-0.853997,0.770783,19.858413,1.122725,5.894415,10.773771
854,50,2,4,19,99,Iowa,Jasper County,37213,37213,37215,...,-7.893615,-0.429640,0.643156,-0.829254,-5.116802,-7.998169,-8.976758,-5.538730,-4.546264,-7.453553

Same format as previous file so we can use same format except we are using Pop. estimates from 2006-2009

In [7]:
Census20002009sub = Census20002009[['STNAME', 'CTYNAME', 'POPESTIMATE2006', 'POPESTIMATE2007','POPESTIMATE2008', 'POPESTIMATE2009']]
Census20002009sub

,STNAME,CTYNAME,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009
0,Alabama,Alabama,4597688,4637904,4677464,4708708
1,Alabama,Autauga County,49105,49834,50354,50756
2,Alabama,Baldwin County,168516,172815,176212,179878
3,Alabama,Barbour County,29556,29736,29836,29737
4,Alabama,Bibb County,21285,21485,21589,21587
...,...,...,...,...,...,...
3189,Wyoming,Sweetwater County,37948,39320,39942,41226
3190,Wyoming,Teton County,19666,20073,20541,20710
3191,Wyoming,Uinta County,19631,20071,20537,20927
3192,Wyoming,Washakie County,7671,7805,7807,7911
3193,Wyoming,Weston County,6568,6845,6928,7009

In [8]:
Census20002009sub.rename({'STNAME': 'STATE', 'CTYNAME': 'COUNTY', 'POPESTIMATE2006': 'POP2006', 'POPESTIMATE2007': 'POP2007', 'POPESTIMATE2008': 'POP2008','POPESTIMATE2009': 'POP2009'}, axis=1, inplace=True)

Census20002009sub

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

        STATE             COUNTY  POP2006  POP2007  POP2008  POP2009
0     Alabama            Alabama  4597688  4637904  4677464  4708708
1     Alabama     Autauga County    49105    49834    50354    50756
2     Alabama     Baldwin County   168516   172815   176212   179878
3     Alabama     Barbour County    29556    29736    29836    29737
4     Alabama        Bibb County    21285    21485    21589    21587
...       ...                ...      ...      ...      ...      ...
3189  Wyoming  Sweetwater County    37948    39320    39942    41226
3190  Wyoming       Teton County    19666    20073    20541    20710
3191  Wyoming       Uinta County    19631    20071    20537    20927
3192  Wyoming    Washakie County     7671     7805     7807     7911
3193  Wyoming      Weston County     6568     6845     6928     7009

[3194 rows x 6 columns]

In [9]:
Check = (Census20002009sub['STATE'] == Census20002009sub['COUNTY'])
Check.value_counts()

False    3142
True       52
dtype: int64

Noticed that the total state populations are ALSO included so I will want to drop those from final clean data

There are different spellings of LaSalle Parish in LA in the two data sets I am working with so I need to change the name in my 2000-2009 data set to match with my second dataset.

In [10]:
Census20002009sub.loc[Census20002009sub.COUNTY == "La Salle Parish", "COUNTY"] = 'LaSalle Parish'

/Users/hmeikle2016/opt/miniconda3/lib/python3.9/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [11]:
Population = pd.merge(Census20002009sub, Census20102012sub, on = ['STATE', 'COUNTY'], how = 'outer', indicator = True)

Population.sample(20)

,STATE,COUNTY,POP2006,POP2007,POP2008,POP2009,POP2010,POP2011,POP2012,_merge
1551,Missouri,Harrison County,8718,8762,8738,8769,8957,8896,8728,both
1268,Michigan,Calhoun County,137445,136689,136404,135616,136146,135529,135099,both
2395,South Carolina,Oconee County,69947,70687,71093,71514,74273,74276,74627,both
1614,Missouri,Stone County,31099,31452,31495,31424,32202,31892,31568,both
1074,Kentucky,Larue County,13561,13578,13613,13663,14193,14247,14151,both
36,Alabama,Jackson County,52998,52796,52934,52838,53227,53230,53019,both
527,Georgia,Stewart County,4676,4589,4572,4558,6058,6033,6042,both
2013,North Carolina,Transylvania County,29684,29958,30155,30203,33090,32815,32849,both
534,Georgia,Terrell County,10430,10258,10268,10320,9315,9212,9045,both
1006,Kansas,Wallace County,1488,1432,1395,1408,1485,1518,1517,both
1297,Michigan,Keweenaw County,2180,2226,2273,2305,2156,2231,2215,both
1335,Michigan,Van Buren County,78089,77915,77978,78227,76258,76025,75454,both
2222,Oklahoma,Nowata County,10650,10708,10725,10528,10536,10627,10611,both
2446,South Dakota,Lincoln County,35707,37750,39685,41218,44828,46670,48296,both
2857,Vermont,Chittenden County,150257,150698,151367,152313,156545,157711,158504,both
1020,Kentucky,Boone County,109560,112806,115999,118576,118811,121683,123316,both
3120,Wisconsin,Forest County,9826,9751,9752,9605,9304,9289,9206,both
361,Florida,Indian River County,129980,132837,134293,135167,138028,138919,140567,both
1796,New Hampshire,Belknap County,60885,61027,61276,61358,60088,60189,60327,both
671,Illinois,Marion County,39736,39584,39422,39008,39437,39008,38894,both

In [12]:
Population[Population._merge != "both"]

Empty DataFrame
Columns: [STATE, COUNTY, POP2006, POP2007, POP2008, POP2009, POP2010, POP2011, POP2012, _merge]
Index: []

Data was merged so that it was the same on both sides (thanks to the changing of La Salle Parish to LaSalle Parish). Now to drop the state total populations.

In [13]:
CountyPopulations = Population[Population['COUNTY'] != Population["STATE"]]
CountyPopulations.sample(20)

,STATE,COUNTY,POP2006,POP2007,POP2008,POP2009,POP2010,POP2011,POP2012,_merge
1362,Minnesota,Fillmore County,20974,21034,20903,20838,20866,20826,20834,both
2393,South Carolina,Marlboro County,28899,28911,28685,28783,28933,28467,28145,both
1758,Nebraska,Rock County,1514,1507,1498,1509,1526,1428,1376,both
3085,West Virginia,Randolph County,28373,28371,28402,28390,29405,29426,29384,both
203,California,Imperial County,156792,160366,163093,166874,174528,175897,176948,both
1632,Montana,Carter County,1242,1234,1194,1202,1160,1142,1177,both
517,Georgia,Quitman County,2641,2649,2685,2659,2513,2449,2404,both
2767,Texas,Rockwall County,68653,73947,77775,81391,78337,81179,83021,both
1774,Nebraska,Webster County,3601,3574,3471,3431,3812,3761,3725,both
1633,Montana,Cascade County,81813,81780,82022,82178,81327,81769,81723,both
1861,New Mexico,Valencia County,69687,71459,72346,72913,76569,76842,76631,both
896,Iowa,Wapello County,35673,35344,35297,35334,35625,35399,35366,both
2727,Texas,Martin County,4376,4416,4474,4581,4799,4919,5017,both
2541,Tennessee,Pickett County,4803,4791,4828,4783,5077,5146,5100,both
192,California,Alpine County,1158,1144,1057,1041,1175,1110,1129,both
801,Indiana,Washington County,27817,27864,27883,27729,28262,28184,27921,both
1035,Kentucky,Casey County,16224,16294,16400,16498,15955,15971,16082,both
430,Georgia,Clayton County,268907,272705,276009,275772,259424,262443,265888,both
2223,Oklahoma,Okfuskee County,11191,11186,11107,10924,12191,12323,12358,both
996,Kansas,Sheridan County,2478,2454,2463,2435,2556,2544,2538,both

Checking that the state population was actually dropped:

In [14]:
Check2 = (CountyPopulations['STATE'] == CountyPopulations['COUNTY'])
Check2.value_counts()

False    3142
dtype: int64